<!DOCTYPE html>
<html>
<head>
	<title>Проект</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="main" id="main">
	
	
	<div class="cabinet">
		<div class="sidebarc">
			<ul>
				<label><li><input type="button" @click='move' >Мой профиль</li></label>
				<label><li><input type="button" @click='move2' >Мои картинки</li></label>
				<label><li><input type="button" @click='move3' >Чего добавить?</li></label>
				<label><li><input type="button" @click='move4' >VUE</li></label>
				<label><li><input type="button" @click='move5' >VUE</li></label>
				<label><li><input type="button" @click='exit' >Выход</li></label>

			</ul>
		</div>



		<div class="profile" id="profile" >
			<div class="one" v-if="c[0]">	
			<div class="about">
				<div class="photo"><img src="pic/profile.jpg" alt=""></div>
				<div class="userabout">
					<ul>
						<li>
							<h4>О себе</h4>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне</p>
						</li>
						<li>
							<h4>Достижения</h4>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне</p>
						</li>
						<li>
							<h4>Пожелания</h4>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне</p>
						</li>
					</ul>


				</div>
			</div>
				<div class="userinfo">
				<ul>
					<li>
						<h3>Фамилия</h3>
						<p>Иван</p>
					</li>
					<li>
						<h3>Имя</h3>
						<p>Иван</p>
					</li>
					<li>
						<h3>Отчество</h3>
						<p>Иван</p>
					</li>
					<li>
						<h3>Район</h3>
						<p>Московский пр-т</p>
					</li>
					<li>
						<h3>Дом</h3>
						<p>35б</p>
					</li>
					<li>
						<h3>Статус</h3>
						<p>Администратор</p>
					</li>
					<li>
						<h3>Любимое животное</h3>
						<p>Кот </p>
					</li>
					<li>
						<h3></h3>
						<p></p>
					</li>
				</ul>
			</div>
			</div>
			<div class="gallery" v-if="c[1]">
			<div class="usercontent">
			<div class="userflex-1">
				<div class="usercontent-item new-1">
					
				</div>
				<div class="usercontent-item">
					
				</div>
			</div>
			<div class="userflex-2">
				<div class="usercontent-item">
					
				</div>
				<div class="usercontent-item">
					
				</div>

			</div>
		</div>
			</div>
			<div class="three" v-if="c[2]">
					Список пожеланий<br>
					{{b}}<br>
					<textarea v-model="a"></textarea>
					<input type="submit" name="Otpravit" @click="pozh">

			</div>
			<div class="four" v-if="c[3]">
					Vue (произносится /vjuː/, примерно как view) — это прогрессивный фреймворк для создания пользовательских интерфейсов. В отличие от фреймворков-монолитов, Vue создан пригодным для постепенного внедрения. Его ядро в первую очередь решает задачи уровня представления (view), что упрощает интеграцию с другими библиотеками и существующими проектами. С другой стороны, Vue полностью подходит и для создания сложных одностраничных приложений (SPA, Single-Page Applications), если использовать его совместно с современными инструментами и дополнительными библиотеками.

Если вы хотите узнать больше о Vue перед тем как начать, мы создали видео с рассказом об основных принципах работы на примере проекта.

Если вы — опытный фронтенд-разработчик, и хотите узнать, чем Vue отличается от остальных библиотек или фреймворков, обратите внимание на сравнение с другими фреймворками.

			</div>
			<div class="five" v-if="c[4]">
					Vue (произносится /vjuː/, примерно как view) — это прогрессивный фреймворк для создания пользовательских интерфейсов. В отличие от фреймворков-монолитов, Vue создан пригодным для постепенного внедрения. Его ядро в первую очередь решает задачи уровня представления (view), что упрощает интеграцию с другими библиотеками и существующими проектами. С другой стороны, Vue полностью подходит и для создания сложных одностраничных приложений (SPA, Single-Page Applications), если использовать его совместно с современными инструментами и дополнительными библиотеками.

Если вы хотите узнать больше о Vue перед тем как начать, мы создали видео с рассказом об основных принципах работы на примере проекта.

Если вы — опытный фронтенд-разработчик, и хотите узнать, чем Vue отличается от остальных библиотек или фреймворков, обратите внимание на сравнение с другими фреймворками.

			</div>
			<div class="six" v-if="c[5]">
					Vue (произносится /vjuː/, примерно как view) — это прогрессивный фреймворк для создания пользовательских интерфейсов. В отличие от фреймворков-монолитов, Vue создан пригодным для постепенного внедрения. Его ядро в первую очередь решает задачи уровня представления (view), что упрощает интеграцию с другими библиотеками и существующими проектами. С другой стороны, Vue полностью подходит и для создания сложных одностраничных приложений (SPA, Single-Page Applications), если использовать его совместно с современными инструментами и дополнительными библиотеками.

Если вы хотите узнать больше о Vue перед тем как начать, мы создали видео с рассказом об основных принципах работы на примере проекта.

Если вы — опытный фронтенд-разработчик, и хотите узнать, чем Vue отличается от остальных библиотек или фреймворков, обратите внимание на сравнение с другими фреймворками.

			</div>
		</div>
	</div>



	<footer>
		<div class="mark">Created by Polytechteam @2019-2020</div><span class="bug">{{x}}</span>
	</footer>

	</div>

<script src="vue-cabinet.js"></script>
</body>
</html>