<!DOCTYPE html>
<html>
<head>
	<title>Проект</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="main">
	<div class="reg" id="reg">
		<button @click="close()">X</button>
		<span class="reg-text">Вход{{login}} {{password}}</span>
		<div class="login"><input type="text" id="login" v-model="a"></div>
		<div class="password"><input type="password" id="password" v-model="b"></div>	
		<div class="enter"><input type="submit" value="Войти" @click="registr"></div>	
	</div>
	<header>
		<div class="header-text">
			<span class="left">ТСЖ Чебоксары</span>
			<label for="show" required><span class="right"><input type="button" onclick="show()" id="show">Регистрация</button></span></label>
		</div>
	</header>

	<div class="title">
		<div class="title-text">ТСЖ г.Чебоксары</div>
	</div>

	
	
	
		<div class="sidebar">
				<a href="http://www.jkh.cap.ru/forum" class="sidebar-item" target="_blank">Форум</a>
				<a href="http://www.jkh.cap.ru/page/law" class="sidebar-item" target="_blank">Законодательство</a>
				<a href="http://www.jkh.cap.ru/page/hry/hry/7258/7262" class="sidebar-item" target="_blank">О квартплате</a>
				<a href="http://www.jkh.cap.ru/page/hry/hry/7258/7259" class="sidebar-item" target="_blank">О ЖКХ</a>
				<a href="http://www.jkh.cap.ru/page/smi" class="sidebar-item" target="_blank">СМИ о Портале ЖКХ</a>
		</div>
		<div class="content">
			<div class="flex-1">
				<div class="content-item new-1">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="content-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="content-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
			</div>
			<div class="flex-2">
				<div class="content-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="content-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="content-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
			</div>
		</div>

	<footer>
		<div class="mark">Created by Polytechteam @2019-2020</div>
	</footer>

	</div>
<script src="vue.js"></script>
</body>
</html>