<!DOCTYPE html>
<html>
<head>
	<title>Проект</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="main">
	<div class="reg" id="reg">
		<button @click="close()">X</button>
		<span class="reg-text">Вход{{login}} {{password}}</span>
		<div class="login"><input type="text" id="login" v-model="a"></div>
		<div class="password"><input type="password" id="password" v-model="b"></div>	
		<div class="enter"><input type="submit" value="Войти" @click="registr"></div>	
	</div>
	<header>
		<div class="header-text">
			<span class="left"><a href="index.html">ТСЖ Чебоксары</a></span>
			<label for="show" required><span class="right"><input type="button" onclick="show()" id="show">Регистрация</button></span></label>
		</div>
	</header>
		<div class="new">
			<div class="new-text">
			<h1>Правительство утвердило предельный рост цен на ЖКХ в 2020 году</h1>
			МОСКВА, 30 окт — РИА Недвижимость. Правительство России утвердило максимальные индексы повышения тарифов ЖКХ в 2020 году.
В частности, в Москве стоимость услуг ЖКХ с 1 июля повысится максимум на 5 процентов, Подмосковье — на 4,1 процента, Санкт-Петербурге — на 3,8 процента.
Максимальный индекс платы за коммунальные услуги для Бурятии, Дагестана, Ингушетии и Кабардино-Балкарии установлен в пределе 5-5,4 процента, для Чечни — 6,5 процента. В последнем случае это самый большой показатель среди российских регионов.
Самый незначительный рост тарифов ЖКХ среди регионов России произойдет в Ненецком автономном округе — 2,4 процента, следует из распоряжения правительства.
В остальных регионах тарифы вырастут на 3,6-4,9 процента.
			</div>
				
		</div>

		<h2 class="latestnews-text">Последние новости</h2><div class="new-title"><div class="new-column">
				<div class="column-item new-1">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="column-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
				<div class="column-item">
					<h2>Как правильно обращаться в прокуратуру по вопросам ЖКХ?</h2>
						<p>В сфере жилищно-коммунального хозяйства часто возникают спорные вопросы, требующие вмешательства государственных органов. Эксперты разъяснили, когда стоит идти за помощью в прокуратуру и как это сделать.</p>

					<a href="news-one.html" class="continue" target="_blank">Далее</a>
				</div>
			</div></div>
		


	<footer>
		<div class="mark">Created by Polytechteam @2019-2020</div>
	</footer>

	</div>
<script src="vue.js"></script>
</body>
</html>