@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');


body {
	margin: 0;
	padding: 0;
	background-color: #F0FFF0;
	font-family: 'Comfortaa', cursive;
	color: black;
}

header {
	background-color: white;
	height: 50px;
	width: 100%;
	border-bottom: 1px solid black;
	position: absolute;
	top: 0;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #CDC5BF;
}

a:active {
	color: #aba2a2;
}

.title {
	height: 100vh;
	width: 100%;
	background-image: url(pic/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

.title-text {
	font-size: 52px;
	color: white;
}

.left {
	display: inline-block;
	float: left;
	padding: 5px;
}

.right {
	display: inline-block;
	float: right;
	border: 1px solid black;
	padding: 5px 30px;
}

.left, .right { 
	margin: 10px 50px;

}

.reg {
	display: none;
	position: fixed;
	flex-direction: column;
	top: 20%;
	text-align: center;
	left: 27%;
	border: 1px solid red;
	height: 400px;
	width: 600px;
	background-color: white;
	color: black;
}

.reg .enter input {
	background-color: white;
	border: 1px solid grey;
}

.reg .enter input:active {
	background-color: black;
	color: white;
}

.reg button {
	float: right;
	align-self: flex-end;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
}

.reg button:active {
	background-color: black;
	color: white;
}

.reg input {
	height: 50px;
	width: 40%;
	font-size: 24px;
}

.reg div {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	margin-top: 50px;
}

.reg-text {
	margin-top: 80px;
}

.reg .login {
	margin-top: 30px;
}

.header-text input {
	display: none;
}

.right label:hover {
	cursor: pointer;
}

.right:hover {
	color: #CDC5BF;
	cursor: pointer;
	background-color: black;
}

.right:active {
	color: black;
}



.new-full {
	margin: 40px;
	padding: 10px;
	background-color: black;
	float: right;
	border-radius: 20px;	
}

.sidebar {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	background-color:  white;
	justify-content: space-between;
	height: 50px;
}

.sidebar-item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	border: 0.5px solid black;;	 
	width: 100%;
	height: 40px;
}

.sidebar-item:hover {
	background-color: black;
	color: #CDC5BF;
}

.sidebar-item:active {
	color: white;
}

.new {
	display: flex;
	justify-content: center;	
	text-align: center;
	margin-top: 50px;
	font-size: 24px;
	height: 93vh;
}

.new-text {
	width: 80%;
}

.new-title {
	display: flex;
	margin-top: 0px;
	justify-content: space-around;
}

footer{ 
	margin-top: 140px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 45px;
	background-color: rgb(45, 45, 68);
	text-align: right;
	height: 45px;
}

/*ТЕСТ 2 КОЛОНКИ НА ФЛЕКСАХ*/

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 1400px;
}

.flex-1, .flex-2 {
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: 40px;
	height: 1300px;
}

.content-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	box-shadow: 4px 4px 5px black;
	width: 100%;
	height: 350px;
	background-image: url(pic/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white
}

.new-1 {
	background-image: url(pic/news-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.continue {
	align-self: flex-end;
	margin: 0px 40px;
	padding: 10px 30px;
	border: 1px solid white;
	color: white;
}

.continue:hover {
	background-color: black;
}

.new-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0px 20px;
	height: 300px;

}

.column-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
	color: white;
	width: 30%;
	box-shadow: 4px 4px 5px black;
	background-image: url(pic/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.latestnews-text {
	text-align: center;
}

/*Профиль*/

.cabinet {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	/*300 строчный юбилей УХУ*/
	height: 700px;
	margin: 15px;
	box-shadow: 0px 0px 5px black;
}

.sidebarc input {
	display: none;
}



.sidebarc {
	width: 22%;
}

.sidebarc ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	width: 80%;
	height: 25px;
	border: 1px solid black;
	margin-top: 20px;
}

.sidebarc ul li:hover {
	background-color: #DCDCDC;
}

.sidebarc ul li:active {
	background-color: black;
	color: white;
}

.profile {
	width: 76%;
	padding: 15px;
}

.userinfo ul li {
	list-style-type: none;
	margin-top: 30px;
}

.about {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.photo {
	border: 1px solid black;
	width: 300px;
	height: 300px;
}

.photo img {
	width: 300px;
	height: 300px;
}

.one {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

/*ГАЛЕРЕЯ*/

.usercontent {
	display: flex;
	flex-direction: row;
}

.userflex-1, .userflex-2 {
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 600px;
}

.usercontent-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
	margin-left: 50px;
	box-shadow: 4px 4px 5px black;
	width: 70%;
	height: 300px;
	background-image: url(pic/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white
}

.three textarea {
	width: 400px;
	height: 200px;
}

.bug {
	display: none;
}